@model PartnerViewModel

<div class="font-weight-bold">
    <a asp-controller="Partner" asp-action="Details" asp-route-id="@Model.Id">Details</a>
    <a asp-controller="Partner" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
</div>
<div>ID: @Model.Id | Name: @Model.Name | VAT: @Model.VAT | City: @Model.City</div>
<hr />
