@model ProductViewModel

<div class="font-weight-bold">
    <a asp-controller="Product" asp-action="Details" asp-route-id="@Model.Id">Details</a>
    <a asp-controller="Product" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
</div>
<div>ID: @Model.Id | Name: @Model.Name | Category: @Model.Category | Unit: @Model.Unit</div>
<hr />
