@model OrderViewModel

@{
    ViewData["Title"] = "Create";
}
<h2>Create Order</h2>

<hr />

<div class="row" >
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class=" form-group">
                <label asp-for="Partner" class="control-label"></label>
                <select asp-for="Partner" class="form-control" asp-items="Model.Partners">
                    <option>Please choose partner</option>
                </select>

            </div>
            <div class=" form-group">
                <label asp-for="Type" class="control-label"></label>
                <select asp-for="Type" class="form-control" asp-items="@Html.GetEnumSelectList<OrderType>()">
                    <option>Please choose order type</option>
                </select>

            </div>
            <div>
                <label asp-for="WantedQuantityByProduct" class="control-label font-weight-bold">Select Products Quantities </label>
                <table id="table" class="table table-hover table-mc-light-blue" border="0" align="center">
                    <thead>
                        <tr>
                            <th>Products</th>
                            <th>InStock</th>
                            <th>OrderedQuantity</th>

                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var pair in Model.WantedQuantityByProduct)
                        {
                            <tr>
                                <td> @pair.Key.Product.Name</td>
                                <td>@pair.Key.Quantity</td>
                                <td><input type="text" id="@pair.Value" name="@pair.Value" value=""></td>


                            </tr>
                        }


                    </tbody>
                </table>

                <span asp-validation-for="WantedQuantityByProduct" class="text-danger"></span>
            </div>


            @*<button onclick="myFunction()">Try it</button>*@

            <div class="md-form mb-4 pink-textarea active-pink-textarea">

                <label asp-for="Comment" class="control-label"></label>
                <textarea id="form18" name="Comment" class="md-textarea form-control" rows="3" cols="60" placeholder="Add notes">Add notes</textarea>
                <span asp-validation-for="Comment" class="text-danger"></span>

            </div>

            <div class="form-group">

                <input type="submit" value="Submit Order" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>





<div>
    <a href='javascript:history.go(-1)'>Go Back</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        function myFunction() {
            var btn = document.createElement("BUTTON");
            document.body.appendChild(btn);
        }
    </script>
}


