@model ProductViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create Product</h2>

<div asp-validation-summary="All">

</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" placeholder="Enter product name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" placeholder="Enter product description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label">Category</label>

                <select asp-for="CategoryId" placeholder="Enter New Category" class="form-control">
                    <option>Choose from existing categories</option>
                    @foreach (var category in Model.ListCategories)
                    {
                        <option value="@category.Id">@category.Name</option>
                    }

                </select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
                <p>
                    <a class="btn btn-primary" data-toggle="collapse" href="#multiCollapse1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Add New Category</a>

                </p>
                <div class="collapse multi-collapse" id="multiCollapse1">
                    <div class="card card-body">

                        <input asp-for="@Model.NewCategory" placeholder="Enter new category name" class="form-control" />
                        <span asp-validation-for="@Model.NewCategory" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="UnitId" class="control-label">Unit</label>

                <select asp-for="UnitId" placeholder="Enter New Unit" class="form-control">
                    <option>Choose from existing units</option>
                    @foreach (var unit in Model.LisUnits)
                    {
                        <option value="@unit.Id">@unit.UnitName</option>
                    }

                </select>
                <span asp-validation-for="UnitId" class="text-danger"></span>
                <p>
                    <a class="btn btn-primary" data-toggle="collapse" href="#multiCollapseExample2" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Add New Unit</a>

                </p>
                <div class="collapse multi-collapse" id="multiCollapseExample2">
                    <div class="card card-body">

                        <input asp-for="@Model.NewUnit" placeholder="Enter new unit name" class="form-control" />
                        <span asp-validation-for="@Model.NewUnit" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="BuyPrice" class="control-label"></label>
                <input asp-for="BuyPrice" placeholder="Product buy price" class="form-control" />
                <span asp-validation-for="BuyPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MarginInPercent" class="control-label"></label>
                <input asp-for="MarginInPercent" placeholder="Product margin percentage" class="form-control" />
                <span asp-validation-for="MarginInPercent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a class="btn btn-secondary" href='javascript:history.go(-1)'>Go Back</a>

                <input type="submit" value="Create Product" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
</div>

