@model UserViewModel
@{
    ViewData["Title"] = "Dashboard";
}

<h1>Users Dashboard</h1>

<table id="table_id" class="display">
    <thead>
        <tr>
            <th>User ID</th>
            <th>User name</th>
            <th>E-mail</th>
            <th>Role</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.UsersList)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.UserName</td>
                <td>@user.Email</td>
                @if (user.UserName == "SuperAdmin")
                {
                    foreach (var role in user.Roles)
                    {
                        <td>@role</td>
                    }
                }
                else
                {
                    foreach (var role in user.Roles)
                    {
                        <td>
                            @if (role == "User")
                            {
                                <button class="btn btn-success">User</button>

                                <form asp-area="SuperAdmin" asp-controller="Admin" asp-action="ChangeUserRole" asp-route-id="@user.Id" method="post">
                                    <button class="btn btn-outline-success" type="submit">Admin</button>
                                </form>
                            }
                            else
                            {
                                <form asp-area="SuperAdmin" asp-controller="Admin" asp-action="ChangeUserRole" asp-route-id="@user.Id" method="post">
                                    <button class="btn btn-outline-success">User</button>
                                </form>
                                <button class="btn btn-success" type="submit">Admin</button>
                            }
                        </td>
                    }
                }
            </tr>
        }

    </tbody>
</table>

