@model Partner

@{
    ViewData["Title"] = "Details";
    ViewBag.Title = Model.Name;
}
<h2>@Model.Name</h2>

<div>@Model.Id</div>
<div>@Model.Name</div>
<div>@Model.Address.Text @Model.Address.Town.Name</div>

<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |

    <a asp-action="Index" asp-controller="Home">Back to List</a>
</div>